.site-layout {
  height: 100vh;
}
.userInfo {
  display: 'inline-flex';
  padding: 24px 0 12px 24px;
  font-size: 14px;
  color: #fff;
  .userName {
    margin-left: 5px;
  }
}
.rulesButton {
  padding: 12px 0 0 24px;
}