.site-layout {
  height: 100vh;
  background-color: #000 !important;
  :global {
    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
      .ant-menu-item-selected {
      background-color: #333;
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      background-color: #333;
    }
  }
}
.userInfo {
  display: 'inline-flex';
  padding: 24px 0 12px 24px;
  font-size: 14px;
  color: #fff;
  .userName {
    margin-left: 5px;
  }
}
.rulesButton {
  padding: 16px 0 0 24px;
}
.site-content {
  position: relative;
  // background-color: #001529;
  .site-content-copyright {
    position: absolute;
    left: 50%;
    bottom: 20px;
    text-align: center;
    color: #555;
    transform: translateX(-50%);
  }
}